.ui {
  display: flex;
  align-content: space-between;
  flex-flow: column;
  z-index: 1;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 25px;
}

.backgroundVideo {
  z-index: -1;
}

.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
