.icon {
  font-size: 2em;
  padding-left: 1rem;
}

.exitNextButton {
  display: flex;
  margin-left: auto;
  font-size: 2rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .icon { 
    font-size: 1.5em;
    padding-left: 0; 
  }
}

