.icon {
  font-size: 2em;
  padding-left: 1rem;
}

.exitNextButton {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 479px) {
  .exitNextButton {
    margin: 0 0 84px 16px;
  }
}

@media (min-width: 480px) {
  .exitNextButton {
    margin: 0 0 32px 16px;
  }
}

@media only screen and (max-width: 600px) {
  .icon { 
    font-size: 1.5em;
    padding-left: 0; 
  }
}

@media only screen and (max-width: 600px) {
  .icon { 
    font-size: 1.5em;
    padding-left: 0; 
  }
}

