.header {
  background: transparent;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin: 0;
  padding: 16px;
  width: 100%;
}

#logo-wrapper {
  align-self: flex-start;
  width: 150px;
}
@media (min-width: 480px) {
  .header {
    padding: 16px 25px;
  }
}

#home-logo {
  font-size: 2rem;
  font-weight: bold;
  height: 35px;
} 